nav {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP4UyUWFPD5aOFPHtaQV5HuyqoupH25O3eKg&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}